@import url(https://fonts.googleapis.com/css?family=Righteous:100,200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Macondo:100,200,300,400,500,600,700,800,900&display=swap);
:root {
  font-size: 16px;
  --primary: #4bac48;
  --secondary: #004d2a;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-appearance: none !important;
  scroll-behavior: smooth !important;
  /* border: 1px solid red !important; */
}
html,
body {
  font-weight: 500;
  height: 100%;
  font-family: "Poppins", "Righteous", Arial, Helvetica, sans-serif !important;
}
nav ::-webkit-scrollbar {
  display: none;
}
h5 {
  color: black !important;
}
h6 {
  color: var(--primary);
}
a {
  color: var(--primary);
}
.caption {
  color: black !important;
  font-weight: 800;
  font-size: inherit;
  margin-top: 2em;
}
.nav-hide {
  animation: 600ms FadeOutUp ease-out forwards;
  display: block;
}

.cardList_ctnr{
  display: grid;
  grid-template-columns: repeat(auto-fit, 16.75rem);
  gap: 1.25rem;
  grid-auto-rows: 16.75rem;
  grid-auto-flow: dense;
  justify-content: center;
}

.img-ctnr{
  -webkit-mask-image:  -webkit-radial-gradient(white, black);
}
.poppins {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
.sponsored {
  /* background: var(--primary) !important; */
  color: white !important;
}
.sponsored h1 {
  color: white !important; 
}
.article-container {
  /* gap: 0.5rem; */
}
.article-body {
  gap: 0.3rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif, "Segoe UI", Tahoma !important;
  cursor: pointer;
  
}

.article-desc {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", "Segoe UI", Tahoma !important;
}

/* .article-poppins {
  font-family: "Poppins", Arial, Helvetica, sans-serif, "Segoe UI", Tahoma !important;
} */
.article-author {
  width: max-content;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  /* padding: 0.3rem 0.4rem 0.3rem 0.4rem; */
  border-radius: 2rem;
  margin-top: auto !important;
  /* margin-bottom: 0.5rem;
  margin-inline: 0.4rem; */
}
.article-author-data {
  display: flex;
  flex-direction: column;
}
.txt {
  font-size: 15px;

  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-weight: 600;
}
.article-date {
  font-size: 9px;
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  color: rgb(90, 90, 90);
}

.article-date-green {
  font-size: 9px;
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  color: rgb(90, 90, 90);
}

.sponsored .article-date {
  color: white;
}
.sponsored .article-author-data p {
  font-size: 13px;
  color: white;
}

.card-medium{

  grid-column-start: span 2;
  grid-column-end: span 2;

}

.article-preview {
  color: rgba(0, 0, 0);
  max-width: 100%;
  font-weight: 400;
  font-family: "Poppins", "Segoe UI", Tahoma !important;
  line-height: 1.45;
  padding-inline: 0.5rem;
  padding-top: .5rem;
  overflow-x:hidden;
  
  
}
.article-preview p:nth-child(1)::first-letter{
  color: var(--primary);
  font-size: 6rem;
  font-weight: 900;
  float: left;
  line-height: 0.45;
  
  margin: 0.1em 0.1em 0.2em 0;

}
ol,ul {
  list-style: disc inside;
}
.cardGrid__list{
  
  max-height: 6049px;
  overflow-y: hidden;
}
.hv-toggle{
  transition: .24s ease-in-out;

}

.hv-toggle:hover{
  border-color: #000000;
  color: #000000;
}

.err_view{
  background-color: #ff4d4d !important;
  border-width: 0 0 0 0 !important;
  pointer-events: none !important;
  
}

.load_animation_item {
  will-change: transform opacity;
  background-color: #4bac48;
  margin:0 2px;
  animation: preloader 1.5s infinite ease-out;
}
.load_animation_item:nth-child(1){
  animation-delay: .1s;
}
.load_animation_item:nth-child(2){
  animation-delay: .2s;
}
.load_animation_item:nth-child(3){
  animation-delay: .3s;
}
@keyframes preloader{
  0%,50%,100%{
    transform: scale(1);
  }
  20%{
    transform: scale(2);
  }
}
.cardGrid__list::after{
  content:'';
  left: 0;
  right:0;
  width: 100%;
  
  z-index: 2;
  position:absolute;
  bottom:0;
  height: 5rem;
  background: linear-gradient(-180deg, rgba(248,249,248,0) 5%, #ffffff 80%);
}

.article-preview h5 {
  /* font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  color: black;
  margin-top: -1.2rem;
  padding-inline: 4px;
  font-weight: 500; */
}
.article-preview a {
  color: var(--primary);
  font-weight: 700;
}
.article-preview b {
  font-weight: 800;
}
/*.article-preview::first-letter {
  color: var(--primary);
  font-size: 6rem;
  font-weight: 900;
  float: left;
  line-height: 0.45;
  
  margin: 0.1em 0.1em 0.2em 0;
}*/

.article-title {
  display: -webkit-box;
  -webkit-box-orient:vertical;
  overflow:hidden;
  font-weight: 700 !important;
  transition: all 0.75s ease-in-out;
  line-height: 1.12 !important;
  color: var(--primary);
  -webkit-line-clamp: 5;
  max-height: 15rem;
  

  
  /* font-family: "Righteous", "Poppins", Arial, Helvetica, sans-serif !important; */
}

.article-title-green {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 700 !important;
  transition: all 0.75s ease-in-out;
  line-height: 1.12 !important;
  color: white;
  -webkit-line-clamp:5;
  

  /* font-family: "Righteous", "Poppins", Arial, Helvetica, sans-serif !important; */
}
.underline{
  text-decoration:none;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 0% 90%;
  background-size:0% .4rem !important;
  transition:background-size .6s ease-in !important;
  will-change: background-size;


}

.article-title:hover .underline,
.article-title:focus .underline{
  
  background-size: 100% .4rem !important;
  
  /*text-decoration: underline;
  text-underline-offset: 0.05em;
  text-decoration-color: #4fc049;
  text-decoration-thickness: 5px !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;*/
}

.article-title-green:hover .underline,
.article-title-green:focus .underline{

  background-size: 100% .4rem !important;
  /*text-decoration: underline;
  text-underline-offset: 0.05em;
  text-decoration-color: white;
  text-decoration-thickness: 5px !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;*/
}
.article-title::before {
  /* content: ""; */
  /* position: absolute; */
  /* display: block;
  width: 100%;
  height: 4px; */
  /* bottom: 0;
  left: 0; */
  /* background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease; */
}
/* .article-title:hover::before {
  transform: scaleX(1);
} */

.tag {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-weight: 900 !important;
}
.tag:hover {
  transform: translateY(-0.2rem);
}
.nav-menu-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav-menu-link:hover {
  color: var(--primary);
}
.loader-button {
  animation: 300ms Loader linear infinite;
  width: 20px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  background: transparent;
  border: 2px solid rgb(90, 90, 90, 0.2);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 50%;
}
.loader-normal {
  animation: 300ms Loader linear infinite;
  width: 20px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  background: transparent;
  border: 2px solid rgb(90, 90, 90, 0.15);
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-radius: 50%;
}
.about a {
  text-decoration: underline;
  color: var(--primary);
}

.green-body {
  background-color: var(--primary);
}

.card-medium div .article-body .article-title,
.card-medium div .article-body .article-title-green{
  -webkit-line-clamp:3;
}

@-moz-document url-prefix() {
  .article-preview::first-letter {
    -moz-color: var(--primary);
    -moz-font-size: 6rem;
    -moz-font-weight: 900;
    -moz-float: left;
    -moz-line-height: 0.45;

    -moz-margin: 0.1em 0.1em 0.2em 0;
  }
}

::-webkit-scrollbar {
  width: 4px !important;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
@keyframes Loader {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes FadeOutUp {
  0% {
    display: block;
  }
  100% {
    display: none;
    transform: scaleY(0);
  }
}

@media screen and (max-width: 1366px){
  .txt{
    font-size: 12.5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif !important;
    font-weight: 600;

  }

}

@media screen and (max-width: 1024px) {

  .cardList_ctnr{
    grid-template-columns: repeat(auto-fit, 15.125rem);
    gap: .625rem;
    grid-auto-rows: 15.125rem;
    
    
  }
  .article-desc {
    font-size: 10px;
    font-weight: 500;
    font-family: "Poppins", "Segoe UI", Tahoma !important;
  }
  .txt{
    font-size: 12px;
    font-family: "Poppins", Arial, Helvetica, sans-serif !important;
    font-weight: 600;

  }
  .article-title,
  .article-title-green{
    
    max-height: 13.1rem;
  }
  .card-medium div .article-body .article-title,
  .card-medium div .article-body .article-title-green{
    -webkit-line-clamp:2;
    max-height: 13.1rem;
  }

}
@media screen and (max-width: 768px){
  .cardList_ctnr{
    grid-template-columns: repeat(auto-fit, 10.8215rem);
    gap: .25rem;
    grid-auto-rows: 10.8215rem;
    
    
  }

  .article-title,
  .article-title-green{
    -webkit-line-clamp: 4;
    max-height: 11.2rem;
  }
  

}

@media screen and (max-width: 480px) {
  .article-desc-home {
    font-size: 9.5px;
    font-weight: 500;
    font-family: "Poppins", "Segoe UI", Tahoma !important;
  }

  .article-desc {
    font-size: 6px;
    font-weight: 500;
    font-family: "Poppins", "Segoe UI", Tahoma !important;
  }

  .article-title {
    font-weight: 700 !important;
    transition: all 0.75s ease-in-out;
    color: var(--primary);
    line-height: 1 !important;
    /* font-family: "Righteous", "Poppins", Arial, Helvetica, sans-serif !important; */
  }

  .article-author {
    width: max-content;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    /* padding: 0.3rem 0.4rem 0.3rem 0.4rem; */
    border-radius: 2rem;
    margin-top: auto !important;
    /* margin-bottom: 0.5rem;
  margin-inline: 0.4rem; */
  }

  .article-author-home {
    width: max-content;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
    border-radius: 2rem;
    margin-top: auto !important;
    /* margin-bottom: 0.5rem;
  margin-inline: 0.4rem; */
  }
  .article-author-data {
    display: flex;
    flex-direction: column;
  }

  .txt {
    font-size: 7px;
    font-family: "Poppins", Arial, Helvetica, sans-serif !important;
    font-weight: 600;
  }

  .article-date {
    font-size: 5.5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif !important;
    color: rgb(90, 90, 90);
  }

  .article-date-green {
    font-size: 5.5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif !important;
    color: rgb(90, 90, 90);
  }
  .article-title,
  .article-title-green{
    
    max-height: fit-content;
    
    line-height: 1.23 !important;
    
  }
}
